DATABASE_URL=
EMAIL_FROM=
EMAIL_FROM_NAME=
MAILCHIMP_MARKETING_API_KEY=
MAILCHIMP_SERVER_PREFIX=
MAILCHIMP_TRANSACTIONAL_API_KEY=
MAILCHIMP_WEBHOOK_SECRET=
NEXTAUTH_SECRET=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_APP_NAME=
